<h2>Edit <%= resource_name.to_s.humanize %></h2>


  <%= render "devise/shared/error_messages", resource: resource %>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<div class="mainbody container-fluid">
    <div class="row">

        <div style="padding-top:50px;"> </div>

        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
          
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="panel-title pull-left" style="font-size:30px;">Edit Your Profile</h1>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="panel-title pull-left">Your Name</h3>
                    <br><br>
                    <form class="form-horizontal">
                        <label for="First_name">Full name</label>
                        <%= f.text_field :username, class: "form-control" %>

                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="panel-title pull-left">Describe yourself in one line</h3>
                    <br><br>
                    <form class="form-horizontal">
                        <%= f.text_field :about, class: "form-control" %>
                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="panel-title pull-left">Your photo</h3>
                    <br><br>
                    <div align="center">
                        
                        
                             <%= f.file_field :pp %> Upload Your Photo!
                      
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="panel-title pull-left">My extended profile</h3>
                    <br><br>
                    <p>This is your Extented Profile section it is used to serve you better!:</p>
                    ...
                    <br><br>
                   
                    <br><br>
                    <form class="form-horizontal">
                        <label for="Your_location">Your location</label>
                        <%= f.text_field :location, class: "form-control" %>
                        <br>
                        <label for="Your_gender">Your Email</label>
                        <%= f.email_field :email, class: "form-control" %>
                        <br>
                        <label for="Your_location">Phone Number</label>
                        <%= f.text_field :phone, class: "form-control" %>
                                            </form>
                </div>
            </div>
            <hr>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="panel-title pull-left">Private Section Profile</h3>
                    <br><br>
                    <h4>In this section you can change your password</h4>
                      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

  
                    <h4>Ready to Update?</h4>
                    <p>Please confirm your current password to update your profile</p>


                    <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
  </div>
                    
                   
                 
                    <button><i class="fa fa-fw fa-times" aria-hidden="true"></i> <%= link_to "Back", :back %></button>
                    <%= f.submit "Update Profile" %>
                </div>
            </div>
            
        </div>
    </div>
</div>

<% end %>




<style>
  .mainbody {
    background:#f0f0f0;
}
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  margin-left: -15px;
  margin-right: -15px;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-content
{
    width:320px;
    padding: 15px;
    padding-bottom:0px;
}
.navbar-content:before, .navbar-content:after
{
    display: table;
    content: "";
    line-height: 0;
}
.navbar-nav.navbar-right:last-child {
    margin-right: 15px !important;
}
.navbar-footer 
{
    background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }
.dropdown-menu {
padding: 0px;
overflow: hidden;
}

.brand_network {
    color: #9D9D9D;
    float: left;
    position: absolute;
    left: 70px;
    top: 30px;
    font-size: smaller;
}

.post-content {
    margin-left:58px;
}

.badge-important {
    margin-top: 3px;
    margin-left: 25px;
    position: absolute;
}

body {
    background-color: #e8e8e8;
}
</style>