<%= render 'welcome/sub' %>
<br>
<br>
<br>
<!doctype html>
<html lang="en">

    <body>
      <% if @shop.status == "Disable" %>
      <div class="well">
        <div class="text-center">
          <h3><b>This Shop is Unaccesiable</b></h3>
          <p>You can't access this shop right now as it has been disabled temporarily by the management. If you are the shop owner please <a href="/welcome/contact">contact us.</a></p>
        </div>
      </div>
      <% else %>
      
        <style>

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top:10px;
}

.middle {
  margin-top:10px;
  float: left;
  width: 70%;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  .right {
    display: none;
  }
}


/*font Awesome http://fontawesome.io*/
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
/*Comment List styles*/
.comment-list .row {
  margin-bottom: 0px;
}
.comment-list .panel .panel-heading {
  padding: 4px 15px;
  position: absolute;
  border:none;
  /*Panel-heading border radius*/
  border-top-right-radius:0px;
  top: 1px;
}
.comment-list .panel .panel-heading.right {
  border-right-width: 0px;
  /*Panel-heading border radius*/
  border-top-left-radius:0px;
  right: 16px;
}
.comment-list .panel .panel-heading .panel-body {
  padding-top: 6px;
}
.comment-list figcaption {
  /*For wrapping text in thumbnail*/
  word-wrap: break-word;
}
/* Portrait tablets and medium desktops */
@media (min-width: 768px) {
  .comment-list .arrow:after, .comment-list .arrow:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
  }
  .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
    border-left: 0;
  }
  /*****Left Arrow*****/
  /*Outline effect style*/
  .comment-list .panel.arrow.left:before {
    left: 0px;
    top: 30px;
    /*Use boarder color of panel*/
    border-right-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
  .comment-list .panel.arrow.left:after {
    left: 1px;
    top: 31px;
    /*Change for different outline color*/
    border-right-color: #FFFFFF;
    border-width: 15px;
  }
  /*****Right Arrow*****/
  /*Outline effect style*/
  .comment-list .panel.arrow.right:before {
    right: -16px;
    top: 30px;
    /*Use boarder color of panel*/
    border-left-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
  .comment-list .panel.arrow.right:after {
    right: -14px;
    top: 31px;
    /*Change for different outline color*/
    border-left-color: #FFFFFF;
    border-width: 15px;
  }
}
.comment-list .comment-post {
  margin-top: 6px;
}
</style>










<style>
  /***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

body {
  background: #F1F3FA;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;

}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  margin-right: 5px;
}


.bobby {
  float: right;
}




.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}



</style>





<body>

  
 
          <div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <% if @shop.imageshop? %>
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <% end %>
      <% if @shop.imageshop? %>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <% end %>
      <% if @shop.imageshop? %>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <% end %>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <% if @shop.imageshop? %>
      <div class="item active">
        <img src="<%= @shop.imageshop %>" alt="img-responsive" style="width:100%; height: 170px;">
      </div>
      <% end %>

      <% if @shop.imageshoptwo? %>
      <div class="item">
        <img src="<%= @shop.imageshoptwo %>" alt="img-responsive" style="width:100%; height: 170px;">
      </div>
      <% end %>

      <% if @shop.imageshop? %>
      <div class="item">
        <img src="<%= @shop.imageshopthree %>" alt="img-responsive" style="width:100%; height: 170px;">
      </div>
      <% end %>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<hr>
          <div class="details col-md-6">
            <h3 class="product-title" style="font-size: 30px; font-weight: 400;"><%= @shop.name %></h3>
    <div class="star-rating" style="top: 50px;" data-score= <%= @avg_review %> > <em style="font-size: 13px; color: #777777; font-weight: 400;"><%= "#{@reviews.length} reviews" %></em></div>

  <p style="font-size: 13px; color: #777777; font-weight: 400;"><%= @shop.category %></p>
  </div>
  <hr style="border:3px solid #f1f1f1">
  <div id="exTab1" class="container"> 
<ul  class="nav nav-pills" style="background-color: #fff; padding-left: 20px;">
      <li class="active">
        <a  href="#1a" data-toggle="tab">Overview</a>
      </li>
      <li><% if user_signed_in? %>
        <a href="#" data-toggle="tab">
          <%= button_to "Message", converstions_path(sender_id: current_user.id, recipient_id: @shop.user.id), :style=>'float:right; color:#', class:"tab", method: "post"%>
        </a>
          <% else %>
         
          <a href="/users/sign_in" style="color: #fff;" class="btn btn-danger btn-sm">Message</a>
          <% end %>
      </li>
      <li><a href="#3a" data-toggle="tab">Reviews</a>
      </li>
    </ul>
    <hr style="border: 3px solid #f1f1f1;">

      <div class="tab-content clearfix">
        <div class="tab-pane active" id="1a">
        
          <div class="profile-usermenu">
          <ul class="nav">
            <li class="active">
              <a href="#" data-toggle="collapse" data-target="#demo">
              <i class="glyphicon glyphicon-home"></i>
              About Shop </a>
              <div id="demo" class="collapse">
                <%= @shop.description %>
              </div>
            </li>
            <li>
              <a href="#">
              <i class="glyphicon glyphicon-map-marker"></i>
              <%= @shop.location %> </a>
            </li>
            <li>
              <a href="#" target="_blank">
              <i class="glyphicon glyphicon-envelope"></i>
              <%= @shop.email %> </a>
            </li>

            <li>
            <% if current_or_guest_user.liked? @shop %>
            <a href="#">
              <i class="glyphicon glyphicon-heart"></i>
          You Have added this shop as your favourite
        </a>
          <% else %>
          <a href="#">
              <i class="glyphicon glyphicon-heart"></i>
          <%= button_to like_shop_path(@shop), method: :put do %>
          Add to Favourite
          <% end %>
        </a>
          <% end %>
        </li>

            <li style="padding-left: 13px;">
              <div class="dropdown">
                <a href="#" type="button" data-toggle="dropdown">
                  <i class="glyphicon glyphicon-flag"></i>More Info<span class="caret"></span> </a>
                  <ul class="dropdown-menu">
      <li><a href="#"><i class="glyphicon glyphicon-phone"></i>
<%= @shop.phone %></a></li>
      <li><a href="#"><i class="glyphicon glyphicon-calendar"></i>
<%= @shop.operating_hours %></a></li>
      <li><a href="#"><i class="glyphicon glyphicon-globe"></i>
<%= @shop.web %></a></li>

                    <li><a href="http://<%= @shop.facebook%>"><i class="fab fa-facebook-f"></i> Facebook</a></li>

                    <li><a href="http://<%= @shop.twitter%>"><i class="fab fa-twitter"></i>< Twitter</a></li>
                    <li><a href="http://<%= @shop.linkedin%>"><i class="fab fa-linkedin-in"></i></i></i> Linkedin</a></li>

    </ul>

      

  </div>
            </li>
            <% if current_user == @shop.user %>
          <%= link_to "Edit Your Shop", edit_shop_path(@shop) %>
          <% end %>
            
          </ul>
        </div>
        <!-- END MENU -->
        </div>
       
        <div class="tab-pane" id="3a">
          <div class="container">
         <% if @reviews.blank? %>
            <h3>No reviews just yet, would you like to add the first!</h3>
            <%= link_to "Write Review",  new_shop_review_path(@shop), :style=> 'color:#FFFFFF;', class: "btn btn-danger" %>
          <% else %>
          <%= link_to "Write Review",  new_shop_review_path(@shop), class: "btn btn-danger" %>
          <br>
          <br>
            <% @reviews.each do |review| %>
            <div class="card">
              <div class="col-md-10 col-sm-10">
              <div class="panel panel-default arrow left">
                <div class="panel-body">
                  <header class="text-left">
                    <div class="comment-user"><i class="fa fa-user"></i> Nearclick User</div>
                    <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> <%= review.created_at.strftime("%B %d %Y, %l:%M%P") %></time>
                  </header>
                  <hr>
                  <div class="comment-post">
                    <p>
                      <div class="reviews">
                <div class="star-rating" data-score= <%= review.rating %> ></div>
                <p><%= review.comment %></p>
              </div>
                    </p>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
            <% end %>
            <% end %>
  </div>

            <script>
      $('.star-rating').raty({
        path: '/assets/',
        readOnly: true,
        score: function() {
              return $(this).attr('data-score');
      }
    });
  </script>
  </div>
        </div>
        
      </div>
   
          
    <hr style="border:3px solid #f1f1f1">
    
  </body>
</html>

        <!--================End Home Banner Area =================-->
        <% if @shop.business == "Products Based Business" %>
        <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-7 heading-section text-center">
            <h2 class="mb-4">Products</h2>
            <p>All the products listed here are directly sold by <%= @shop.name %> and NearClick is just there delivery partner, we deliver the product as it is without opening the package.</p>
          </div>
        </div>
        

              <div class="row" style="display: block;">
  <% @shop.products.each do |product| %>
      <div class="kya">
<div class="card">
<div class="product-widget">
                  <div class="product-img">
                    <img src="<%= product.image %>" alt="">
                  </div>
                  <div class="product-body">
                    <p class="product-category"><%= product.category %></p>
                    <h3 class="product-name"><a href="#"><%= product.name %></a></h3>
                    <% if product.offerprice? %>
                    <h4 class="product-price">₹.<%= product.offerprice %> <del class="product-old-price">₹.<%= product.price %></del></h4>
                    <% else %>
                    <h4 class="product-price">₹.<%= product.price %></h4>
                    <% end %>
                    <%= link_to "View Product", product, class: "btn btn-sm btn-primary float-right" %>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
    </div>
          
        
      </div>
    </section>
<% end %>

























<% if @shop.category == "Tutors" %>
        <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-7 heading-section text-center">
            <h2 class="mb-4">Subjects</h2>
            <p>All the Subjects listed here are directly taught by <%= @shop.name %> and NearClick is just there Permotional partner.</p>
          </div>
        </div>
        

              <div class="row" style="display: block;">
  <% @shop.products.each do |product| %>
      <div class="kya">
<div class="card">
<div class="product-widget">
                  <div class="product-img">
                    <img src="<%= product.image %>" alt="">
                  </div>
                  <div class="product-body">
                    <p class="product-category"><%= product.category %></p>
                    <h3 class="product-name"><a href="#"><%= product.name %></a></h3>
                    <% if product.offerprice? %>
                    <h4 class="product-price">₹.<%= product.offerprice %> <del class="product-old-price">₹.<%= product.price %></del></h4>
                    <% else %>
                    <h4 class="product-price">₹.<%= product.price %></h4>
                    <% end %>
                    <%= link_to "View Product", product, class: "btn btn-sm btn-primary float-right" %>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
    </div>
          
        
      </div>
    </section>
<% end %>









































<% if @shop.category == "Business & Tax" %>
        <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-7 heading-section text-center">
            <h2 class="mb-4">Services</h2>
            <p>All the Services listed here are directly Provided by <%= @shop.name %> and NearClick is just there Permotional partner.</p>
          </div>
        </div>
        

              <div class="row" style="display: block;">
  <% @shop.products.each do |product| %>
      <div class="kya">
<div class="card">
<div class="product-widget">
                  <div class="product-img">
                    <img src="<%= product.image %>" alt="">
                  </div>
                  <div class="product-body">
                    <p class="product-category"><%= product.category %></p>
                    <h3 class="product-name"><a href="#"><%= product.name %></a></h3>
                    <% if product.offerprice? %>
                    <h4 class="product-price">₹.<%= product.offerprice %> <del class="product-old-price">₹.<%= product.price %></del></h4>
                    <% else %>
                    <h4 class="product-price">₹.<%= product.price %></h4>
                    <% end %>
                    <%= link_to "View Product", product, class: "btn btn-sm btn-primary float-right" %>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
    </div>
          
        
      </div>
    </section>
<% end %>



























<% if @shop.category == "Salon" %>
        <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-7 heading-section text-center">
            <h2 class="mb-4">Services</h2>
            <p>All the Services listed here are directly Provided by <%= @shop.name %> and NearClick is just there Permotional partner.</p>
          </div>
        </div>
        

              <div class="row" style="display: block;">
  <% @shop.products.each do |product| %>
      <div class="kya">
<div class="card">
<div class="product-widget">
                  <div class="product-img">
                    <img src="<%= product.image %>" alt="">
                  </div>
                  <div class="product-body">
                    <p class="product-category"><%= product.category %></p>
                    <h3 class="product-name"><a href="#"><%= product.name %></a></h3>
                    <% if product.offerprice? %>
                    <h4 class="product-price">₹.<%= product.offerprice %> <del class="product-old-price">₹.<%= product.price %></del></h4>
                    <% else %>
                    <h4 class="product-price">₹.<%= product.price %></h4>
                    <% end %>
                    <%= link_to "View Product", product, class: "btn btn-sm btn-primary float-right" %>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
    </div>
          
        
      </div>
    </section>
<% end %>
























<% if @shop.category == "Home Service & Repair" %>
        <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-7 heading-section text-center">
            <h2 class="mb-4">Services</h2>
            <p>All the Services listed here are directly Provided by <%= @shop.name %> and NearClick is just there Permotional partner.</p>
          </div>
        </div>
        

              <div class="row" style="display: block;">
  <% @shop.products.each do |product| %>
      <div class="kya">
<div class="card">
<div class="product-widget">
                  <div class="product-img">
                    <img src="<%= product.image %>" alt="">
                  </div>
                  <div class="product-body">
                    <p class="product-category"><%= product.category %></p>
                    <h3 class="product-name"><a href="#"><%= product.name %></a></h3>
                    <% if product.offerprice? %>
                    <h4 class="product-price">₹.<%= product.offerprice %> <del class="product-old-price">₹.<%= product.price %></del></h4>
                    <% else %>
                    <h4 class="product-price">₹.<%= product.price %></h4>
                    <% end %>
                    <%= link_to "View Product", product, class: "btn btn-sm btn-primary float-right" %>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
    </div>
          
        
      </div>
    </section>
<% end %>














<% if @shop.category == "Hotels" %>
        <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-7 heading-section text-center">
            <h2 class="mb-4">Rooms</h2>
            <p>All the Rooms listed here are directly Provided by <%= @shop.name %> and NearClick is just there Permotional partner.</p>
          </div>
        </div>
        

              <div class="row" style="display: block;">
  <% @shop.products.each do |product| %>
      <div class="kya">
<div class="card">
<div class="product-widget">
                  <div class="product-img">
                    <img src="<%= product.image %>" alt="">
                  </div>
                  <div class="product-body">
                    <p class="product-category"><%= product.category %></p>
                    <h3 class="product-name"><a href="#"><%= product.name %></a></h3>
                    <% if product.offerprice? %>
                    <h4 class="product-price">₹.<%= product.offerprice %> <del class="product-old-price">₹.<%= product.price %></del></h4>
                    <% else %>
                    <h4 class="product-price">₹.<%= product.price %></h4>
                    <% end %>
                    <%= link_to "View Product", product, class: "btn btn-sm btn-primary float-right" %>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
    </div>
          
        
      </div>
    </section>
<% end %>






















<% if @shop.category == "Restraunts" %>
        <section class="ftco-section" style="padding: 10px;">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-1">
          <div class="col-md-7 heading-section text-center">
            <h2 class="mb-4">Menu</h2>
            <p>All the Food Items listed here are directly Provided by <%= @shop.name %> and NearClick is just there Delivery partner, we deliver the items as it is without opening the package.</p>
          </div>
        </div>
        

              <div class="row" style="display: block;">
  <% @shop.products.each do |product| %>
      <div class="kya">
<div class="card">
<div class="product-widget">
                  <div class="product-img">
                    <img src="<%= product.image %>" alt="">
                  </div>
                  <div class="product-body">
                    <p class="product-category"><%= product.category %></p>
                    <h3 class="product-name"><a href="#"><%= product.name %></a></h3>
                    <% if product.offerprice? %>
                    <h4 class="product-price">₹.<%= product.offerprice %> <del class="product-old-price">₹.<%= product.price %></del></h4>
                    <% else %>
                    <h4 class="product-price">₹.<%= product.price %></h4>
                    <% end %>
                    <%= link_to "View Product", product, class: "btn btn-sm btn-primary float-right" %>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
    </div>
          
        
      </div>
    </section>
<% end %>
<hr>



       <script>
      $('.star-rating').raty({
        path: '/assets/',
        readOnly: true,
        score: function() {
              return $(this).attr('data-score');
      }
    });
  </script> 
       <% end %>
       <hr>
<% @similar_shops.each do |similar_shop| %>
<!--content-->
<div class="content-top ">
  <div class="container ">
    <div class="spec ">
      <h3>Similar Shops</h3>
      <div class="ser-t">
        <b></b>
        <span><i></i></span>
        <b class="line"></b>
      </div>
    </div>
      <div class="tab-head ">
        <div class=" tab-content tab-content-t ">
          
          
          
          <div class="tab-pane active text-style" id="tab4">
              <div class=" con-w3l">
              <div class="col-md-3 m-wthree">
                <div class="col-m">
                  <a href="#" class="offer-img">
                    <img src="<%= similar_shop.imageshop %>" class="img-responsive" alt="">
                    
                  </a>
                  <div class="mid-1">
                    <div class="women">
                      <h6><%= similar_shop.name %></h6>             
                    </div>
                    <div class="mid-2">
                       
                      <p ><em class="item_price"><%= similar_shop.category %></em></p>
                      
                        <div class="block">
                        <div class="starbox small ghosting"> </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                      <div class="add">
                       <button class="btn btn-danger my-cart-btn my-cart-b"><%= link_to "View Shop", similar_shop, class: 'btn btn-danger my-cart-btn my-cart-b' %></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
             </div>
          </div>
        </div>
      </div>
    
  </div>
  </div>
  <% end %>
    </body>
</html>


<style>
/*=========================================================
  06 -> PRODUCT
===========================================================*/

/*----------------------------*\
  product
\*----------------------------*/
.card {
  box-shadow: 0px 3px 40px 0 rgba(206, 205, 205, 0.5);

}
.kya {
  padding-bottom: 10px;
}
.product {
  position: relative;
  margin: 15px 0px;
  -webkit-box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 1px #E4E7ED;
  box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 1px #E4E7ED;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.product:hover {
  -webkit-box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #D10024;
  box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #D10024;
}

.product .product-img {
  position: relative;
}

.product .product-img>img {
  width: 100%;
}

.product .product-img .product-label {
  position: absolute;
  top: 15px;
  right: 15px;
}

.product .product-img .product-label>span {
  border: 2px solid;
  padding: 2px 10px;
  font-size: 12px;
}

.product .product-img .product-label>span.sale {
  background-color: #FFF;
  border-color: #D10024;
  color: #D10024;
}

.product .product-img .product-label>span.new {
  background-color: #D10024;
  border-color: #D10024;
  color: #FFF;
}

.product .product-body {
  position: relative;
  padding: 15px;
  background-color: #FFF;
  text-align: center;
  z-index: 20;
}

.product .product-body .product-category {
  text-transform: uppercase;
  font-size: 12px;
  color: #8D99AE;
}

.product .product-body .product-name {
  text-transform: uppercase;
  font-size: 14px;
}

.product .product-body .product-name>a {
  font-weight: 700;
}

.product .product-body .product-name>a:hover, .product .product-body .product-name>a:focus {
  color: #D10024;
}

.product .product-body .product-price {
  color: #D10024;
  font-size: 18px;
}

.product .product-body .product-price .product-old-price {
  font-size: 70%;
  font-weight: 400;
  color: #8D99AE;
}

.product .product-body .product-rating {
  position: relative;
  margin: 15px 0px 10px;
  height: 20px;
}

.product .product-body .product-rating>i {
  position: relative;
  width: 14px;
  margin-right: -4px;
  background: #FFF;
  color: #E4E7ED;
  z-index: 10;
}

.product .product-body .product-rating>i.fa-star {
  color: #ef233c;
}

.product .product-body .product-rating:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 1px;
  background-color: #E4E7ED;
}

.product .product-body .product-btns>button {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: transparent;
  border: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.product .product-body .product-btns>button:hover {
  background-color: #E4E7ED;
  color: #D10024;
  border-radius: 50%;
}

.product .product-body .product-btns>button .tooltipp {
  position: absolute;
  bottom: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -15px);
  -ms-transform: translate(-50%, -15px);
  transform: translate(-50%, -15px);
  width: 150px;
  padding: 10px;
  font-size: 12px;
  line-height: 10px;
  background: #1e1f29;
  color: #FFF;
  text-transform: uppercase;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.product .product-body .product-btns>button:hover .tooltipp {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -5px);
  -ms-transform: translate(-50%, -5px);
  transform: translate(-50%, -5px);
}

.product .add-to-cart {
  position: absolute;
  left: 1px;
  right: 1px;
  bottom: 1px;
  padding: 15px;
  background: #1e1f29;
  text-align: center;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  z-index: 2;
}

.product:hover .add-to-cart {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}

.product .add-to-cart .add-to-cart-btn {
  position: relative;
  border: 2px solid transparent;
  height: 40px;
  padding: 0 30px;
  background-color: #ef233c;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 40px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.product .add-to-cart .add-to-cart-btn>i {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  line-height: 38px;
  color: #D10024;
  opacity: 0;
  visibility: hidden;
}

.product .add-to-cart .add-to-cart-btn:hover {
  background-color: #FFF;
  color: #D10024;
  border-color: #D10024;
  padding: 0px 30px 0px 50px;
}

.product .add-to-cart .add-to-cart-btn:hover>i {
  opacity: 1;
  visibility: visible;
}

/*----------------------------*\
  Widget product
\*----------------------------*/

.product-widget {
  position: relative;
}

.product-widget+.product-widget {
  margin: 30px 0px;
}

.product-widget .product-img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 60px;
}

.product-widget .product-img>img {
  width: 120%;
}

.product-widget .product-body {
  padding-left: 75px;
  min-height: 60px;
}

.product-widget .product-body .product-category {
  text-transform: uppercase;
  font-size: 10px;
  color: #8D99AE;
}

.product-widget .product-body .product-name {
  text-transform: uppercase;
  font-size: 12px;
}

.product-widget .product-body .product-name>a {
  font-weight: 700;
}

.product-widget .product-body .product-name>a:hover, .product-widget .product-body .product-name>a:focus {
  color: #D10024;
}

.product-widget .product-body .product-price {
  font-size: 14px;
  color: #D10024;
}

.product-widget .product-body .product-price .product-old-price {
  font-size: 70%;
  font-weight: 400;
  color: #8D99AE;
}

.product-widget .product-body .product-price .qty {
  font-weight: 400;
  margin-right: 10px;
}

.product-widget .delete {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  text-align: center;
  font-size: 10px;
  padding: 0;
  background: #1e1f29;
  border: none;
  color: #FFF;
}

/*----------------------------*\
  Products slick
\*----------------------------*/

.products-slick .slick-list {
  padding-bottom: 60px;
  margin-bottom: -60px;
  z-index: 2;
}

.products-slick .product.slick-slide {
  margin: 15px;
}

.products-tabs>.tab-pane {
  display: block;
  height: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: hidden;
  padding-bottom: 60px;
  margin-bottom: -60px;
}

.products-tabs>.tab-pane.active {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.products-slick-nav {
  position: absolute;
  right: 15px;
  z-index: 10;
}

.products-slick-nav .slick-prev, .products-slick-nav .slick-next {
  position: static;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  width: 20px;
  height: 20px;
  display: inline-block !important;
  margin: 0px 2px;
}

.products-slick-nav .slick-prev:before, .products-slick-nav .slick-next:before {
  font-size: 14px;
}
</style>



  <style>
/*--content--*/
.content-top{

}
.offer-w3agile{
  padding:6em 0;
}
.wthree-of{
  margin-top:5em;
}
.tab-head {
    margin: 1em 0 0;
}
.tabs li{
  display:inline-block;
}
ul.nav.tabs {
    text-align: center;
  margin-bottom: 4em;
}
.tabs li a {
    font-size: 1em;
    color: #8A8A8A;
    padding: 16px 17px !important;
    display: inline-block;
}

.tabs  li.active {
  border-bottom: 2px solid #000
}
.nav > li > a:hover, .nav > li > a:focus {
    background: none;
}

.tab-content-t {
    padding: 0em !important;
}


/*----*/
.mid-1 h6 {
    font-size: 1.2em;
}
.mid-1 h6 a {
    color: #000000;
    text-decoration:none;
}
.mid-1 h6 a:hover {
    color: #FAB005;
}
.mid-2 p{
  float:left;
  font-size:0.9em;
  color:#B4B4B4;
}
.mid-2 p em{
  font-style:normal;
}
.mid-2 p label{
  text-decoration: line-through;
  font-weight:400;
  margin-right:6px;
}
.mid-2 {
    padding: 1em 0;
}
.mid-1 {
    padding: 3em 0 0;
}
.block {
    float: right;
}
.add{
  text-align:center;
}
.col-m {
    padding: 1em;
    border: 1px solid #B2B2B2;
}
.offer-img{
  position:relative;
  display:block;
}
.offer-img img{
  margin:0 auto;
  width: 55%;
}
.offer{
      position: absolute;
    top: 0;
    right: -15px;
    border: 2px solid #ED0612;
    border-radius: 100px 0 0 100px;
    padding: 2px;
}
.offer p{
    background: #ED0612;
    border-radius: 100px 0px 0px 100px;
    text-align: center;
    line-height: 0em !important;
    font-size: 0.9em !important;
    padding: 7px;
}
.offer span{
    color: #fff;
    font-size: 11px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

.modal-body {
    padding: 1em 1em 0em;
}
.modal-footer {
    margin-top: 0px;
}
div#my-cart-empty-message {
    margin: 0;
}
/*--cart--*/
.my-cart-b {
    background: none;
    text-decoration: none;
    color: #029241;
    font-size: 1em;
    border: 2px solid #039445;
    border-radius: 50px;
    padding: 0.5em 1em;
    outline: none;
}
a:focus {
    outline: thin dotted;
    outline: none;
    outline-offset: -2px;
}

/* Sweep To Bottom */
.my-cart-b{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.my-cart-b:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #039445;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
    border-radius: 50px;
  border: 2px solid #039445;
}
.my-cart-b:hover, .my-cart-b:focus, .my-cart-b:active {
  color: white;
    background: none;
    border: 2px solid #039445;
    outline: none !important;
}
.my-cart-b:hover:before, .my-cart-b:focus:before, .my-cart-b:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
/*--content--*/
/*--product--*/
.span-1 h3 {
  color: #000;
    font-size: 1.8em; 
}
p.in-para{
color: #B3B3B3;
    font-size: 0.9em;
    line-height: 2em;
    margin: 1em 0 ;
  border-bottom: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
  padding:1em 0;
}
.price_single {
    padding-bottom: 1em;
}
span.reducedfrom {
      color: #FAB005;
    font-size: 1.5em;   
}

h4.quick {
  color: #000;
  font-size:1.2em;
  text-transform: uppercase;
  margin-top: 1em;
  
}
p.quick_desc {
  color:#B3B3B3;
  font-size:0.9em;
  line-height: 2em;
  margin: 1em 0 2em;
}

/* Shutter In Vertical */
.my-cart-btn1 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
    background-color:#FAB005;
   color: #fff;
   padding: 0.5em 1em;
   font-size:1em;
    text-decoration:none;
   border: none;
}
.my-cart-btn1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:#029241;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
    border: none;
}
.my-cart-btn1:hover, .my-cart-btn1:focus, .my-cart-btn1:active {
  color: white;
  text-decoration:none;
  border:none;
  background: #FAB005;
  border-radius: 0;
}
.my-cart-btn1:hover:before, .my-cart-btn1:focus:before, .my-cart-btn1:active:before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
   text-decoration:none;
}


ul.product-qty {
  padding: 0;
  list-style: none;
}
.product-qty span {
  color: #000;
  font-size:1.2em;
  padding-bottom: 0.5em;
  display: block;
  text-transform: uppercase;

}
.product-qty select {
  border: 1px solid #eee;
  padding: 0.5em;
  font-size: 1em;
  outline: none;
}
.product-qty option {
  border: 1px solid #EEE;
}
.wish-list {
  padding: 15px 0;
  border-bottom: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
}
.wish-list ul{
  padding:0;
  list-style:none;
}
.wish-list li {
    display: inline-block;
    margin-right: 4%;
    width: 36%;
}
.wish-list li a i{
    margin-right:4%;
}
.wish-list li a {
  color:#FAB005;
  font-size: 0.85em;
  text-decoration: underline;
}
.wish-list li a span {
  padding-right:10px;
}
.wish-list li a:hover{
  text-decoration:none;
}

.size-top {
    margin: 2em 0;
}
/*----*/
.modal-dialog {
    width: 800px;
    margin: 30px auto;
}
.modal-spa {
    padding: 1em 1em 2.5em;
}

.modal-header {
    border-bottom: none;
}
.close {
    font-size: 31px;
}
/*--product--*/
/*--content-mid--*/

.col-md,.col-md1,.col-md2,.col-md3{
  position:relative;
}
.col-md1,.col-md2,.col-md3{
  text-align:center;
}
.big-sale {
    position: absolute;
    top: 77px;
    left: 20%;
    border: 4px double #fff;
    text-align: center;
    transform: rotate(-45deg);
    width: 210px;
    height: 210px;
}
.big-sale1 {
  transform: rotate(45deg);
  margin: 3.5em 0 0;
}
.big-sale h3,.big-sa h3,.big-sale2 h3,.big-sale3 h3{
  color:#fff;
  font-size:3em;
  margin-bottom: 0.3em;
}
.big-sa h3{
  margin-bottom: 0.2em;
}
.big-sale h3 span,.big-sa h3 span,.big-sale2 h3 span,.big-sale3 h3 span{
  color:#FAB005;
}
.big-sale p,.big-sa p,.big-sale2 p,.big-sale3 p{
  color:#fff;
  font-size:1em;
  line-height:2em;
}
.big-sa h6{
  color:#fff;
  font-size:1em;
  text-transform:uppercase;
  letter-spacing:2px;
}
.big-sa {
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 9em;
}
.big-sale2,.big-sale3{
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 3em;
}
.col-md2 {
    margin-bottom: 30px;
}
.content-mid {
    padding: 6em 0;
}
/*--content-mid--*/
.product {
  padding:8em 0 6em;
}
.pro-1 {
    margin-bottom: 2em;
}































/*--responsive--*/
@media(max-width:1440px){
.main-agileits {
    width: 35%;
}
}
@media(max-width:1280px){
.main-agileits {
    width: 38%;
}
}
@media(max-width:1080px){
.banner-info h3 {
    width: 95%;
}
.big-sale h3, .big-sa h3, .big-sale2 h3, .big-sale3 h3 {
    font-size: 2.7em;
}
.big-sale {
    top: 53px;
    left: 18%;
    width: 180px;
    height: 180px;
}
.big-sale1 {
    margin: 3em 0 0;
}
.search-form input[type='text'] {
    width: 92%;
}
.search-form {
    width: 60%;
    margin: 0 auto;
}
.main-agileits {
    width: 50%;
}
.about-left p {
    padding: 1em 0;
  font-size: 0.9em;
}
.work-info span {
    left: 26.2em;
}
.work-left label{
    left: 33.3em;
}
.big-sa {
    margin-top: 6em;
}
.big-sale2, .big-sale3 {
    margin-top: 2em;
}
.footer-grid h3 {
    font-size: 1.5em;
}
}
@media(max-width:991px){
.modal-dialog {
    width: 720px;
}
.banner-info h3 {
    width: 99%;
    font-size: 2.5em;
}
.m-wthree {
    width: 50%;
    float: left;
    margin-bottom: 2em;
}
.pro-1 {
    width: 50%;
    float: left;
}
.footer-grid {
    float: left;
    width: 50%;
    margin-bottom: 2em;
}
.footer-bottom {
    text-align: center;
    margin: 0em 0 0;
}
p.fo-para {
    padding: 1em 0 2em;
}
.copy-right p {
    margin-top: 2em;
}
.footer {
    padding: 3em 0;
}
.product {
    padding: 6em 0 3em;
}
.ser-t {
    width: 30%;
}
.m-w3ls ,.m-w3ls1{
    margin: 0 auto;
    width: 53%;
}
.m-w3ls1{
  margin:2em auto;
}
.big-sale {
    top: 77px;
    left: 20%;
    width: 210px;
    height: 210px;
}
.content-mid {
    padding: 4em 0;
}

.dropdown-menu.multi {
    min-width: 730px;
}

.search-form input[type='text'] {
    width: 89%;
}
.search-form {
    width: 70%;
}
.carousel-indicators {
    left: 46%;
}
.kic-top1 {
    text-align: center;
    margin: 0 0 2em;
}
.kic-top1:last-child {
    margin: 0 0 0em;
}
.kic-top1 img{
    margin: 0 auto;
}
.kic-top {
    padding: 6em 0 0;
}

.contact-right img{
  margin:0 auto 2em;
}
.contact-left {
    margin-top: 2em;
}
.contact {
    padding: 4em 0;
}
.contact-w3 {
    padding-top: 0em;
}
.main-agileits {
    width: 65%;
}
.faq-w3 {
    padding: 4em 0 3em;
}
.terms {
    padding: 4em 0;
}
.about {
    padding:4em 0;
}
.work-right {
    border-left: none;
    padding: 2em 0;
}
.work-left label, .work-right label {
    display: none;
}
.work-left {
    text-align: right;
    padding: 6em 0 0;
}
.work-info span {
    left: 20.2em;
}
span.last {
    bottom: -46px;
}
.work {
    padding: 4em 0 6em;
}
.advantages {
    padding: 4em 0;
}
.about-agi {
    margin-top: 2em;
}
.single-top {
    width: 50%;
}
.single-right {
    margin-top: 2em;
}
a.at-in {
    width: 27%;
}
.sed h5 {
    font-size: 1em;
}
.big-sa {
    margin-top: 9em;
}
.big-sale2, .big-sale3 {
    margin-top: 3em;
}
.check-out {
    padding:3em 0;
}
.login {
    padding: 4em 0;
}
.offer-w3agile {
    padding:4em 0;
}
.typrography {
    padding: 4em 0;
}
.single {
    padding: 4em 0 0;
}
}
@media(max-width:767px){

ul.multi-column-dropdown {
    text-align: center;
}
.hyper:hover:before {
  right: 99.1%;
    opacity: 1;
}
.hyper:hover:after {
  left: 0.9%;
    opacity: 1;
}
.active a:before{
  opacity: 1;
  right: 99.1%;
}
.active a:after {
  left: 0.9%;
    opacity: 1;
}

.w3l img {
    width: 50%;
    margin: 2em auto;
}

.tabs li {
    display: inline-block;
}
.m-w3ls, .m-w3ls1 {
    width: 64%;
}
.modal-dialog {
    width: 600px;
}
.spec h3 {
    font-size: 2.8em;
}
.search-form {
    width: 76%;
    margin: 0 auto;
}
.banner-info {
    margin: 5em 0;
}
.search-form {
    width: 76%;
}
.agileinf {
    padding-top: 0em;
}
.contact-w3 {
    padding-top: 0em;
}
.contact {
    padding:3em 0  ;
}
.contact-right iframe {
    height: 180px;
}
ul.contact-list li {
    margin: 0 0px 7px 0;
    color: #999;
}
.login {
    padding: 4em 0;
}
.main-agileits {
    width: 78%;
}

.panel-title {
    font-size: 1.2em;
}
.terms {
    padding: 5em 0 3em;
}
.work-info span {
    left: 16.2em;
}
.single-top {
    width: 62%;
}
.product {
    padding: 5em 0 3em;
}
.close1, .close2, .close3 {
    left: 80%;
    top: 15px;
}
a.at-in {
    padding: 0.8em 0;
    margin-left: 0%;
}
.ring-in {
    width: 38%;
}
.sed {
    width: 65%;
}
.sed h5 {
    margin-top: 2em;
}
.value {
    width: 32px;
    height: 32px;
    line-height: 16px;
}
.value-minus, .value-plus {
    height: 32px;
    width: 32px;
}
.login {
    padding: 3em 0;
}
.spec {
    margin-bottom: 2em;
}
.typrography {
    padding: 3em 0;
}
.wthree-of {
    margin-top: 3em;
}
.offer-w3agile {
    padding:3em 0;
}
.single {
    padding: 4em 0 0;
}
/*--typo--*/
.bars {
    font-size: 2.2em;
}
}
@media(max-width:600px){
.banner-info h3 {
    width: 100%;
    font-size: 2em;
}
.search-form {
    width: 93%;
}
.banner-info {
    margin: 4em 0;
}
.spec h3 {
    font-size: 2.5em;
}
.ser-t {
    width: 43%;
}
.tabs li a {
    padding: 16px 9px !important;
}
ul.nav.tabs {
    margin-bottom: 2em;
}
.mid-1 h6 {
    font-size: 1em;
}
.m-w3ls, .m-w3ls1 {
    width: 85%;
}
.offer-img img {
    width: 75%;
}
.product {
    padding: 4em 0 2em;
}
.footer-grid {
    width: 100%;
    margin-bottom: 1em;
}
.cart {
    width: 15%;
}

.spec h3 {
    font-size: 2.2em;
}
.ser-t {
    width: 47%;
}
.offer-w3agile {
    padding:3em 0 2em;
}
.content-mid {
    padding: 2em 0;
}
p.fo-para {
    width: 95%;
}
.footer-bottom h2 b {
    font-size: 8px;
    padding: 2px;
    line-height: 9px;
    top: 8px;
    left: -6px;
}
.footer-bottom h2 span {
    letter-spacing: 3px;
}
.modal-dialog {
    width: 450px;
}

.kic h3 {
    font-size: 2.2em;
}
.ser-t span {
    left: 39%;
}
.span-1 {
    margin-top: 2em;
}

.carousel-indicators {
    left: 44%;
}
.main-agileits {
    width: 90%;
    padding: 2em;
}
.form-w3agile h3{
    margin-bottom: 1em;
}
.key i {
    padding: 13px 13px 13px 10px;
}
.panel-heading {
    padding: 11px 0px;
}
.panel-title {
    font-size: 0.94em;
}
.faq-w3 {
    padding: 4em 0 2em;
}
.terms {
    padding: 5em 0 2em;
}
.work-info span {
    left: 11.2em;
}
.work {
    padding: 3em 0 5em;
}
.advantages {
    padding: 3em 0;
}
.about {
    padding: 3em 0;
}
.single-top {
    width: 85%;
}

a.at-in {
    padding: 0.5em 0;
    width: 37%;
}
.sed {
    width: 100%;
}
.sed h5 {
    margin-top: 1em;
}
.ring-in {
    width: 34%;
}
.add-1 {
    padding: 7px 4px;
    font-size: 0.9em;
}
.check-out {
    padding: 3em 0 2em;
}
.login {
    padding: 2em 0;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 6px !important;
}
.advantages-left h3 {
    font-size: 2em;
}
.wthree-of {
    margin-top: 2em;
}
.bars {
    font-size: 1.8em;
}
.single {
    padding: 3em 0 0;
}
}
@media(max-width:414px){
.cart {
    width: 27%;
}

.m-wthree {
    width: 50%;
    float: left;
    margin-bottom: 1em;
    padding: 0 3px;
}
.mid-1 {
    padding: 2em 0 0;
}
.col-m {
    padding: 0.5em;
}
.mid-1 h6 {
    font-size: 0.85em;
}
.mid-2 p {
    float: none;
}
.block {
    float: none;
}
.my-cart-b {
    font-size: 0.9em;
    padding: 0.3em 1em;
}
.m-w3ls, .m-w3ls1 {
    width: 100%;
}
.big-sale {
        top: 39px;
    left: 15.1%;
    width: 184px;
    height: 184px;
}
.big-sale h3, .big-sa h3, .big-sale2 h3, .big-sale3 h3 {
    font-size: 2.2em;
}
.pro-1 {
    padding: 0 5px;
}
.banner-info {
    margin: 2em 0;
}
img.img-head {
    width: 19%;
}
.logo h1 {
    font-size: 2.2em;
}
.logo h1 span {
    font-size: 11px;
    letter-spacing: 1px;
}
.logo h1 b {
    font-size: 7px;
    padding: 2px;
    top: 6px;
    left: -8px;
    line-height: 6.5px;
}
.card li a {
    font-size: 0.85em;
    margin: 0 0.3em;
}
.banner-info h3 {
    font-size: 1.4em;
}
.search-form input[type='submit'] {
    width: 35px;
    height: 35px;
    background: url(../images/can.png) no-repeat 4px 3px #FCCD1E;
}
.search-form input[type='text'] {
    width: 85%;
    padding: 7px 10px;
    font-size: 0.9em;
}
.search-form {
    width: 95%;
}
.spec h3 {
    font-size: 1.7em;
}
.ser-t {
    width: 64%;
}
.ser-t span i {
    width: 18px;
    height: 18px;
}
.ser-t span {
    width: 36px;
    height: 36px;
    left: 38%;
}
.ser-t {
    width: 64%;
}
.tabs li a {
    padding: 8px 9px !important;
  font-size: 0.9em;
}
.offer {
    right: -8px;
}
.container {
    padding-right: 5px;
    padding-left: 5px;
}
.product {
    padding: 3em 0 0em;
}
.footer-bottom h2 {
    font-size: 2.5em;
}
.footer-bottom h2 span {
    letter-spacing: 2px;
    font-size: 11px;
}
.footer-bottom h2 b {
    font-size: 7px;
    padding: 2px;
    line-height: 7px;
    top: 7px;
    left: -7px;
}
.footer-grid h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
.pro-1 {
    margin-bottom: 1em;
}
.big-sale p, .big-sa p, .big-sale2 p, .big-sale3 p {
    font-size: 0.9em;
    line-height: 1.7em;
}
.big-sale2, .big-sale3 {
    margin-top: 2.5em;
}
.kic h3 {
    font-size: 1.8em;
}
.kic-top {
    padding: 4em 0 0;
}
.carousel-indicators li {

    margin: 0 3px;
}
.carousel-indicators {
    left: 41%;
    bottom: -26px;
}
.resp-tab-content {
    padding: 1em;
}
.contact-left input[type="text"], .contact-left input[type="email"] {
    width: 100%;
    margin: 0 0% 5% 0%;
}
.contact-left input[type="submit"] {
    width: 33%;
    font-size: 0.9em;
}
.contact {
    padding: 3em 0 2em;
}
.main-agileits {
    width: 90%;
    padding: 1em;
}
.key input[type="text"], .key input[type="password"] {
    width: 84%;
    padding: 8px 10px;
}
.key i {
    padding: 10px 0px 10px 10px;
}
.form-w3agile input[type="submit"] {
    padding: 7px 0;
    margin-bottom: 25px;
}
.login {
    padding: 2em 0;
}
.form-w3agile h3{
    margin-bottom: 0.8em;
}
.panel-title {
    line-height: 1.8em;
}
.panel-heading {
    padding: 6px 0px;
}
.faq-w3 {
    padding: 3em 0 1em;
}
.spec {
    margin-bottom: 2em;
}
.terms h6 {
    font-size: 1.2em;
}
.terms p {
    font-size: 0.9em;
    margin-top: 10px;
    padding-left: 18px;
}
ol {
    margin-bottom: 17px;
}
.terms {
    padding: 4em 0 2em;
}
.work-info span {
    left: 7em;
}
.banner-top h3 {
    font-size: 1.7em;
}
.banner-top h4 {
    margin-top: 0.5em;
}
.banner-top {
    height: 76px;
    padding: 2em 0.5em;
}
.check-out {
    padding: 2em 0 1em;
}
th.t-head {
    font-size: 0.7em !important;
}
td.t-data {
    font-size: 0.8em !important;
}
.ring-in {
    width: 27%;
}
.t-w3l {
    width: 30%;
}
a.at-in {
    width: 75%;
}
.close1 i, .close2 i, .close3 i {
    width: 20px;
    height: 20px;
    line-height: 1.7em;
}
.close1, .close2, .close3 {
    left: 73%;
    top: 6px;
}
.work-w3, .work-w31 {
    padding: 1.5em;
}
.advantages-left h3 {
    font-size: 1.8em;
}
.ad-left p {
    font-size: 1.2em;
    width: 43px;
    height: 43px;
    line-height: 2.5em;
}
.ad-right {
    width: 80%;
}
.ad-left {
    width: 17%;
}
.ad-right h4, .advn-two h4 {
    font-size: 1.1em;
    line-height: 1.6em;
}
.advn-two {
    margin-top: 1em;
}
.contact-left h4 {
    font-size: 1.7em;
    margin-bottom: 0.5em;
}
.contact-left {
    margin-top: 1em;
}
.single-top {
    width: 100%;
}
.single-w3agile {
    padding: 1em;
}
.wthree-of {
    margin-top: 1em;
}
.offer-w3agile {
    padding:2em 0;
}
.single {
    padding: 2em 0 0;
}
.modal-dialog {
    width: 290px;
}
input.my-product-quantity {
    width: 40px !important;
}
.big-sa {
    margin-top: 5em;
}
/*--typo--*/
.bars {
    font-size: 1.5em;
}
h1.t-button {
    font-size: 25px;
}
 h2.t-button{
    font-size: 22px;
}
 h3.t-button {
    font-size: 20px;
}
 h4.t-button {
    font-size: 18px;
}
 h5.t-button {
    font-size:15px;
}
.pagination-lg > li > a, .pagination-lg > li > span {
    padding: 10px 11px;
    font-size: 18px;
}

.grid_3 p, .page-header p {
    font-size: 13px;
}
}
  </style>

