 <div id="myFilterpanel" class="sidepanel">
  <a href="javascript:void(0)" class="closebtnt" onclick="closeNavt()">×</a>
  <hr>
  <p><b>Shops Location Wise:</b></p>
  <form>
    <div class="checkbox">
      <label><input type="checkbox" id="myCheckone" class="check" onclick="myFunctionone()">State:</label>
      <a href="/welcome/sshop" class="btn btn-primary" id="textthree" style="display:none; font-size: 12px;">Submit</a>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="" id="myChecktwo" class="check" onclick="myFunctiontwo()">City/District:</label>
      <a href="/welcome/cshop" class="btn btn-primary" id="texttwo" style="display:none; font-size: 12px;">Submit</a>
    </div>
  </form>


  <br>
<br>

<p><b>Shops Categories:</b></p>
<a href="/welcome/shop1" style="font-size: 14px;">Electronics</a>
<a href="/welcome/shop2" style="font-size: 14px;">Fashion</a>
<a href="/welcome/shop3" style="font-size: 14px;">Furnitures</a>
<a href="/welcome/shop4" style="font-size: 14px;">Kitchen Stores</a>
<a href="/welcome/shop5" style="font-size: 14px;">Hotels</a>
<a href="/welcome/shop6" style="font-size: 14px;">Grocery</a>
<a href="/welcome/shop7" style="font-size: 14px;">Health</a>
<a href="/welcome/shop8" style="font-size: 14px;">Events</a>
</div>
<script>
$(document).ready(function(){
    $('.check').click(function() {
        $('.check').not(this).prop('checked', false);
    });
});
</script>
<script>
function myFunctionone() {
  var checkBox = document.getElementById("myCheckone");
  var text = document.getElementById("textthree");
  if (checkBox.checked == true){
    textthree.style.display = "block";
    texttwo.style.display = "none";
  } else {
     textthree.style.display = "none";
  }
}


function myFunctiontwo() {
  var checkBox = document.getElementById("myChecktwo");
  var text = document.getElementById("texttwo");
  if (checkBox.checked == true){
    texttwo.style.display = "block";
    textthree.style.display = "none";
  } else {
     texttwo.style.display = "none";
  }
}
</script>
<button class="openbtn" onclick="openNavt()" style="padding-top: 80px"><i class="fas fa-cog"></i></button>
<div class="container" style=" text-align:center;">
  
<script>
function openNavt() {
  document.getElementById("myFilterpanel").style.width = "250px";
}

function closeNavt() {
  document.getElementById("myFilterpanel").style.width = "0";
}
</script>

  <div class="row">
                <% @shops&.each do |shop| %>
                <% if shop.operating == "Area" %>
                <% if shop.area == current_or_guest_user.search_area %>
                <div class="center" style="text-align:center;">
  <h1>Shops In Your Area</h1>
  <hr>
</div>
<div class="kya">
<div class="card">
<div class="product-widget">
                  <div class="product-img">
                    <img src="<%= shop.imageshop %>" alt="">
                  </div>
                  <div class="product-body">
                    <p class="product-category"><%= shop.category %></p>
                    <h3 class="product-name"><a href="#"><%= shop.name %></a></h3>
                   
                    <div class="rating-wrap">
          <div class="star-rating" data-score= <%= @avg_review %> ></div>
          <em><%= "#{shop.reviews.length} reviews" %></em>
          
          
        </div> <!-- rating-wrap.// -->
                    <%= link_to "View Shop", shop, class: "btn btn-sm btn-primary float-right" %>
                    <% if current_or_guest_user.liked? shop %>
            <a href="#" class="float-left">
              
           <i class="glyphicon glyphicon-heart" style="color: red; left: 90px;"></i>
        </a>
          <% else %>
          <a href="#" class="float-left">
              
          <%= button_to like_shop_path(shop), method: :put do %>
          <i class="glyphicon glyphicon-heart" style="left: 90px;"></i>
          <% end %>
        </a>
          <% end %>
                  </div>
                </div>
              </div>
            </div>






<% end %>
<% end %>





















<% if shop.operating == "City / District" %>
<% if shop.city == current_or_guest_user.search_city %>
<hr>
<div class="center" style="text-align:center;">
  <h1>Shops In Your City/District</h1>
</div>
      
                <div class="kya">
<div class="card">
<div class="product-widget">
                  <div class="product-img">
                    <img src="<%= shop.imageshop %>" alt="">
                  </div>
                  <div class="product-body">
                    <p class="product-category"><%= shop.category %></p>
                    <h3 class="product-name"><a href="#"><%= shop.name %></a></h3>
                   
                    <div class="rating-wrap">
          <div class="star-rating" data-score= <%= @avg_review %> ></div>
          <em><%= "#{shop.reviews.length} reviews" %></em>
          
          
        </div> <!-- rating-wrap.// -->
                    <%= link_to "View Shop", shop, class: "btn btn-sm btn-primary float-right" %>
                    <% if current_or_guest_user.liked? shop %>
            <a href="#" class="float-left">
              
           <i class="glyphicon glyphicon-heart" style="color: red; left: 90px;"></i>
        </a>
          <% else %>
          <a href="#" class="float-left">
              
          <%= button_to like_shop_path(shop), method: :put do %>
          <i class="glyphicon glyphicon-heart" style="left: 90px;"></i>
          <% end %>
        </a>
          <% end %>
                  </div>
                </div>
              </div>
            </div>
<% end %>
<% end %>
<% if shop.operating == "State" %>
<% if shop.state == current_or_guest_user.search_state %>
<hr>
<div class="center" style="text-align:center;">
  <h1>Shops In Your State</h1>
</div>
      
                <div class="kya">
<div class="card">
<div class="product-widget">
                  <div class="product-img">
                    <img src="<%= shop.imageshop %>" alt="">
                  </div>
                  <div class="product-body">
                    <p class="product-category"><%= shop.category %></p>
                    <h3 class="product-name"><a href="#"><%= shop.name %></a></h3>
                   
                    <div class="rating-wrap">
          <div class="star-rating" data-score= <%= @avg_review %> ></div>
          <em><%= "#{shop.reviews.length} reviews" %></em>
          
          
        </div> <!-- rating-wrap.// -->
                    <%= link_to "View Shop", shop, class: "btn btn-sm btn-primary float-right" %>
                    <% if current_or_guest_user.liked? shop %>
            <a href="#" class="float-left">
              
           <i class="glyphicon glyphicon-heart" style="color: red; left: 90px;"></i>
        </a>
          <% else %>
          <a href="#" class="float-left">
              
          <%= button_to like_shop_path(shop), method: :put do %>
          <i class="glyphicon glyphicon-heart" style="left: 90px;"></i>
          <% end %>
        </a>
          <% end %>
                  </div>
                </div>
              </div>
            </div>
<% end %>
<% end %>
<% end %>

              </div>
</div>
<script>
      $('.star-rating').raty({
        path: '/assets/',
        readOnly: true,
        score: function() {
              return $(this).attr('data-score');
      }
    });
  </script>


<style>
body {
  font-family: "Lato", sans-serif;
}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtnt {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  background-color: #fff;
}
.closebtnt {
  background-color: #fff;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #F9F9FA;
  color: #F05D23;
  padding: 10px 15px;
  border: none;
  left: 100%;

}

</style>





<style>
/*=========================================================
  06 -> PRODUCT
===========================================================*/

/*----------------------------*\
  product
\*----------------------------*/
.card {
  box-shadow: 0px 3px 40px 0 rgba(206, 205, 205, 0.5);
  width: 150% !important;

}
.kya {
  padding-bottom: 10px;
}
.product {
  position: relative;
  margin: 15px 0px;
  -webkit-box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 1px #E4E7ED;
  box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 1px #E4E7ED;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.product:hover {
  -webkit-box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #D10024;
  box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #D10024;
}

.product .product-img {
  position: relative;
}

.product .product-img>img {
  width: 100%;
}

.product .product-img .product-label {
  position: absolute;
  top: 15px;
  right: 15px;
}

.product .product-img .product-label>span {
  border: 2px solid;
  padding: 2px 10px;
  font-size: 12px;
}

.product .product-img .product-label>span.sale {
  background-color: #FFF;
  border-color: #D10024;
  color: #D10024;
}

.product .product-img .product-label>span.new {
  background-color: #D10024;
  border-color: #D10024;
  color: #FFF;
}

.product .product-body {
  position: relative;
  padding: 15px;
  background-color: #FFF;
  text-align: center;
  z-index: 20;
}

.product .product-body .product-category {
  text-transform: uppercase;
  font-size: 12px;
  color: #8D99AE;
}

.product .product-body .product-name {
  text-transform: uppercase;
  font-size: 14px;
}

.product .product-body .product-name>a {
  font-weight: 700;
}

.product .product-body .product-name>a:hover, .product .product-body .product-name>a:focus {
  color: #D10024;
}

.product .product-body .product-price {
  color: #D10024;
  font-size: 18px;
}

.product .product-body .product-price .product-old-price {
  font-size: 70%;
  font-weight: 400;
  color: #8D99AE;
}

.product .product-body .product-rating {
  position: relative;
  margin: 15px 0px 10px;
  height: 20px;
}

.product .product-body .product-rating>i {
  position: relative;
  width: 14px;
  margin-right: -4px;
  background: #FFF;
  color: #E4E7ED;
  z-index: 10;
}

.product .product-body .product-rating>i.fa-star {
  color: #ef233c;
}

.product .product-body .product-rating:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 1px;
  background-color: #E4E7ED;
}

.product .product-body .product-btns>button {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: transparent;
  border: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.product .product-body .product-btns>button:hover {
  background-color: #E4E7ED;
  color: #D10024;
  border-radius: 50%;
}

.product .product-body .product-btns>button .tooltipp {
  position: absolute;
  bottom: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -15px);
  -ms-transform: translate(-50%, -15px);
  transform: translate(-50%, -15px);
  width: 150px;
  padding: 10px;
  font-size: 12px;
  line-height: 10px;
  background: #1e1f29;
  color: #FFF;
  text-transform: uppercase;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.product .product-body .product-btns>button:hover .tooltipp {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -5px);
  -ms-transform: translate(-50%, -5px);
  transform: translate(-50%, -5px);
}

.product .add-to-cart {
  position: absolute;
  left: 1px;
  right: 1px;
  bottom: 1px;
  padding: 15px;
  background: #1e1f29;
  text-align: center;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  z-index: 2;
}

.product:hover .add-to-cart {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}

.product .add-to-cart .add-to-cart-btn {
  position: relative;
  border: 2px solid transparent;
  height: 40px;
  padding: 0 30px;
  background-color: #ef233c;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 40px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.product .add-to-cart .add-to-cart-btn>i {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  line-height: 38px;
  color: #D10024;
  opacity: 0;
  visibility: hidden;
}

.product .add-to-cart .add-to-cart-btn:hover {
  background-color: #FFF;
  color: #D10024;
  border-color: #D10024;
  padding: 0px 30px 0px 50px;
}

.product .add-to-cart .add-to-cart-btn:hover>i {
  opacity: 1;
  visibility: visible;
}

/*----------------------------*\
  Widget product
\*----------------------------*/

.product-widget {
  position: relative;
}

.product-widget+.product-widget {
  margin: 30px 0px;
}

.product-widget .product-img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 60px;
}

.product-widget .product-img>img {
  width: 120px;
  height: 140px;
}

.product-widget .product-body {
  padding-left: 75px;
  min-height: 60px;
}

.product-widget .product-body .product-category {
  text-transform: uppercase;
  font-size: 10px;
  color: #8D99AE;
}

.product-widget .product-body .product-name {
  text-transform: uppercase;
  font-size: 12px;
}

.product-widget .product-body .product-name>a {
  font-weight: 700;
}

.product-widget .product-body .product-name>a:hover, .product-widget .product-body .product-name>a:focus {
  color: #D10024;
}

.product-widget .product-body .product-price {
  font-size: 14px;
  color: #D10024;
}

.product-widget .product-body .product-price .product-old-price {
  font-size: 70%;
  font-weight: 400;
  color: #8D99AE;
}

.product-widget .product-body .product-price .qty {
  font-weight: 400;
  margin-right: 10px;
}

.product-widget .delete {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  text-align: center;
  font-size: 10px;
  padding: 0;
  background: #1e1f29;
  border: none;
  color: #FFF;
}

/*----------------------------*\
  Products slick
\*----------------------------*/

.products-slick .slick-list {
  padding-bottom: 60px;
  margin-bottom: -60px;
  z-index: 2;
}

.products-slick .product.slick-slide {
  margin: 15px;
}

.products-tabs>.tab-pane {
  display: block;
  height: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: hidden;
  padding-bottom: 60px;
  margin-bottom: -60px;
}

.products-tabs>.tab-pane.active {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.products-slick-nav {
  position: absolute;
  right: 15px;
  z-index: 10;
}

.products-slick-nav .slick-prev, .products-slick-nav .slick-next {
  position: static;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  width: 20px;
  height: 20px;
  display: inline-block !important;
  margin: 0px 2px;
}

.products-slick-nav .slick-prev:before, .products-slick-nav .slick-next:before {
  font-size: 14px;
}
</style>

