<script>
    $(document).ready(function(){
      $('.bxslider').bxSlider();
    });
  </script>







<% if mobile_device == "mobile" %>
<head>
 
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="author" content="Colorlib">
    <meta name="description" content="#">
    <meta name="keywords" content="#">
    <!-- Page Title -->
    <title>Nearclick</title>
    <!-- Bootstrap CSS -->
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">

    <!-- Simple line Icon -->
    <link rel="stylesheet" href="/assets/simple-line-icons.css">
    <!-- Themify Icon -->
    <link rel="stylesheet" href="/assets/themify-icons.css">
    <!-- Hover Effects -->
    <link rel="stylesheet" href="/assets/set1.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
      

</head>





<br>
<br>



<body>



  <%= render 'welcome/sub' %>
  

<section class="sliderb d-flex align-items-center" style="max-height:80px;">
        <!-- <img src="/assets/slider.jpg" class="img-fluid" alt="#"> -->
        <div class="container" >
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="slider-title_box">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slider-content_wrap">
                                    
                                    
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-10">
                              

                                <% if current_or_guest_user.search_area? %>
                              <form class="form-wrap mt-4 example">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                      <div class="select-wapper" style="display:none;">
                                        <%= select_tag :state, options_for_select([["Select a state",""]] + State.all.map { |c| [c.name, c.id] }.sort,selected: current_or_guest_user.search_state ), id: "state"%>
                                        </div>
                                        <div class="select-wapper" style="display:none;">
                                        <%= select_tag :city, options_for_select([["Select a City",""]] + City.all.map { |c| [c.name, c.id] }.sort, selected: current_or_guest_user.search_city), :id => 'city' %>
                                        </div>
                                        <div class="select-wapper" style="display:none;">
                                        <%= select_tag :area, options_for_select([["Select a Area",""]] + Area.all.map { |c| [c.name, c.id] }.sort, selected: current_or_guest_user.search_area), :id => 'area' %>
                                        </div>
                              <input type="text" placeholder="What are you looking for?" id="search" class="btn-group1" style="color: #000;">
                                       
                                        
                                        <a href="/welcome/search" class="bhadwa btn-form search-btn"><i class="fa fa-search" style="color: #000;"></i></a>

<style>
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  float: left;
  width: 80%;
  height: 100%;
  background: #fff;
}

.bhadwa {
  float: left;
  width: 18%;
  height: 44px;
  padding: 10px;
  background: #fff;
  color: white;
  font-size: 17px;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
</style>
<br>
<button class="btn-form search-btn" href="/welcome/ashop" style="color: #fff; width: 70%;">Shops Nearby
</button>
                                        
                                      </div>
                                      </form>

                                        <% else %>
                              <form class="form-wrap mt-4">
                                  
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                      <div class="select-wapper">
                                        <%= select_tag :state, options_for_select([["Select a state",""]] + State.all.map { |c| [c.name, c.id] }.sort,selected: current_or_guest_user.search_state ), id: "state"%>
                                        </div>
                                        <div class="select-wapper">
                                        <%= select_tag :city, options_for_select([["Select a City",""]] + City.all.map { |c| [c.name, c.id] }.sort, selected: current_or_guest_user.search_city), :id => 'city' %>
                                        </div>
                                        <div class="select-wapper">
                                        <%= select_tag :area, options_for_select([["Select a Area",""]] + Area.all.map { |c| [c.name, c.id] }.sort, selected: current_or_guest_user.search_area), :id => 'area' %>
                                        </div>
                                        
                                        <input type="text" style="display:none; color: #000;" placeholder="What are you looking for?" id="search" class="btn-group1">
                                       
                                        
                                        <div class="mmc">
                                        <a href="/welcome/search" class="btn-form search-btn" style="color: #fff;">Submit<i class="pe-7s-angle-right"></i></a>
                                        </div>
                                    </div>
                                    <style>
                                      .mmc{
                                        padding-left: 5px;
                                      }
                                    </style>
                  </form>
                  <% end %>


                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


<div class="bxslider">
  <% @highlights.each_cons(2) do |highlight1, highlight2| %>
    <% if highlight1.area == current_or_guest_user.search_area or highlight1.state == current_or_guest_user.search_state or highlight1.city == current_or_guest_user.search_city %>
    <div class="glare">
      <li class="row" style="padding: 0px; margin: 0px;">
        <%= link_to image_tag(highlight1.image), highlight1, :class => "dali" %>
        <%= link_to image_tag(highlight2.image), highlight2, :class => "dali" %>
      </li>
    </div>
    
    <% end %>
  <% end %>
  </div>

<style>

.dali {
  height: 100px;
  width: 50%;
}
.boti {
  background-size: cover;
  width: 160px;
}


.dodo {
  height: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

</style>

<section class="section-division mb-1">
    <div class="container my-1">
      <div class="row">
        <div class="col col-sm-6">
          <a href="/welcome/events">
          <img src="/assets/eventm.jpg" alt="a" class="img-fluid">
          
          </a>
        </div>
        <div class="col col-sm-6">
          <a href="/welcome/rest">
          <img src="/assets/foodm.jpg" alt="a" class="img-fluid">
                    </a>
        </div>
      </div>
    </div>

    <div class="container my-1">
      <div class="row">
        <div class="col col-sm-6">
          <a href="/welcome/health">
          <img src="/assets/babycarem.jpg" alt="a" class="img-fluid">
          
          </a>
        </div>
        <div class="col col-sm-6">
          <a href="/welcome/grocery">
          <img src="/assets/grocerym.jpg" alt="a" class="img-fluid">
          
          </a>
        </div>
      </div>
    </div>


    <div class="container my-1">
      <div class="row">
        <div class="col col-sm-6">
          <a href="/welcome/electronics">
          <img src="/assets/electronicsm.jpg" alt="a" class="img-fluid">
          
          </a>
        </div>
        <div class="col col-sm-6">
          <a href="/welcome/sny">
          <img src="/assets/favm.jpg" alt="a" class="img-fluid">
          
          </a>
        </div>
      </div>
    </div>



    <div class="container my-1">
      <div class="row">
        <div class="col col-sm-6">
          <a href="/welcome/decor">
          <img src="/assets/kitchenm.jpg" alt="a" class="img-fluid">
          
          </a>
        </div>
        <div class="col col-sm-6">
          <a href="/welcome/repair">
          <img src="/assets/repairm.jpg" alt="a" class="img-fluid">
          
          </a>
        </div>
      </div>
    </div>




    <div class="container my-1">
      <div class="row">
        <div class="col col-sm-6">
          <a href="/welcome/gs">
          <img src="/assets/educationm.jpg" alt="a" class="img-fluid">
          
          </a>
        </div>
        <div class="col col-sm-6">
          <a href="/welcome/fashion">
          <img src="/assets/fashionm.jpg" alt="a" class="img-fluid">
          
          </a>
        </div>
      </div>
    </div>
    </section>
  </div>



  </body>
</html>

<style>
body {
  position: relative;
  background-color: #f2f2f2;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.blocky {
  background-color: #fff;
  margin-top: 5px;
}
img {
  border-radius: 15px;
}
nav .nav-link {
color: #000;
margin-left: .5rem;
}
nav .fa {
  font-size: 1rem;
  margin-right: 1rem;
}
nav span {
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
  margin-left: 10px;
}
.section-division {
  margin-top: 2rem;
  position: relative;
}
.section-division a .capta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1rem;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}
.img-fluid {
}
.img-fluid:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
  }
</style>
<!-- jQuery, Bootstrap JS. -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->



    <script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
</body>

</html>
















<% else %>


































<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Colorlib">
    <meta name="description" content="#">
    <meta name="keywords" content="#">
    <!-- Page Title -->
    <title>Listing &amp; Directory Website Template</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <!-- Simple line Icon -->
    <link rel="stylesheet" href="/assets/simple-line-icons.css">
    <!-- Themify Icon -->
    <link rel="stylesheet" href="/assets/themify-icons.css">
    <!-- Hover Effects -->
    <link rel="stylesheet" href="/assets/set1.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/assets/style.css">
    <!-- jQuery library (served from Google) -->



   
</head>

























    <section class="sliderb d-flex align-items-center">
        <!-- <img src="/assets/slider.jpg" class="img-fluid" alt="#"> -->
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="slider-title_box">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slider-content_wrap">

<br>
<br>
<br>
<br>
                                    <h1>Discover what's great Near You</h1>
                                    <h5>Let's uncover the best places to eat, drink, and shop nearest to you.</h5>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-10">
                              <% if current_or_guest_user.search_area? %>
                              <form class="form-wrap mt-4 example">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                      <div class="select-wapper" style="display:none;">
                                        <%= select_tag :state, options_for_select([["Select a state",""]] + State.all.map { |c| [c.name, c.id] }.sort,selected: current_or_guest_user.search_state ), id: "state"%>
                                        </div>
                                        <div class="select-wapper" style="display:none;">
                                        <%= select_tag :city, options_for_select([["Select a City",""]] + City.all.map { |c| [c.name, c.id] }.sort, selected: current_or_guest_user.search_city), :id => 'city' %>
                                        </div>
                                        <div class="select-wapper" style="display:none;">
                                        <%= select_tag :area, options_for_select([["Select a Area",""]] + Area.all.map { |c| [c.name, c.id] }.sort, selected: current_or_guest_user.search_area), :id => 'area' %>
                                        </div>
                              <input type="text" placeholder="What are you looking for?" id="search" class="btn-group1">
                                       
                                        
                                        <a href="/welcome/search" class="bhadwa btn-form search-btn"><i class="fa fa-search"></i></a>

<style>
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  height: 100%;
  background: #fff;
}

.bhadwa {
  float: left;
  width: 20%;
  padding: 10px;
  background: #fff;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
</style>
                                        <button class="btn-form search-btn" href="/welcome/ashop" style="color: #fff; width: 70%;">Shops Nearby
</button>
                                      </div>
                                      </form>

                                        <% else %>
                              <form class="form-wrap mt-4">
                                  
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                      <div class="select-wapper">
                                        <%= select_tag :state, options_for_select([["Select a state",""]] + State.all.map { |c| [c.name, c.id] }.sort,selected: current_or_guest_user.search_state ), required: true, id: "state"%>
                                        </div>
                                        <div class="select-wapper">
                                        <%= select_tag :city, options_for_select([["Select a City",""]] + City.all.map { |c| [c.name, c.id] }.sort, selected: current_or_guest_user.search_city), required: true, :id => 'city' %>
                                        </div>
                                        <div class="select-wapper">
                                        <%= select_tag :area, options_for_select([["Select a Area",""]] + Area.all.map { |c| [c.name, c.id] }.sort, selected: current_or_guest_user.search_area), :id => 'area', required: true %>
                                        </div>
                                        
                                        <input type="text" style="display:none;" placeholder="What are you looking for?" id="search" class="btn-group1">
                                       
                                        
                                        <a href="/welcome/search" class="btn-form search-btn" style="color: #fff;">Submit<i class="pe-7s-angle-right"></i></a>
                                        
                                    </div>
                  </form>
                  <% end %>
                                <div class="slider-link">
                                    <a href="/welcome/popular">Browse Popular</a><span>or</span> <a href="/welcome/recent">Recently Addred</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--// SLIDER -->
    <!--//END HEADER -->
    <!--============================= FIND PLACES =============================-->

<div class="bxslider">
  <% @highlights.each_cons(2) do |highlight1, highlight2| %>
    <% if highlight1.area == current_or_guest_user.search_area or highlight1.state == current_or_guest_user.search_state or highlight1.city == current_or_guest_user.search_city %>
    <div>
      <li class="row" style="padding: 0px; margin: 0px;">
        <%= link_to image_tag(highlight1.image), highlight1, :class => "dali" %>
        <%= link_to image_tag(highlight2.image), highlight1, :class => "dali" %>
      </li>
    </div>
    
    <% end %>
  <% end %>
  </div>

<style>

.dali {
  height: 100px;
  width: 50%;
}
.boti {
  background-size: cover;
  width: 160px;
}


.dodo {
  height: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bhadwa {
  padding-left: 50px;
}

</style>
        <div class="container">
            <div class="row justify-content-center">
               <div class="bhadwarow">
                <div class="col-md-4">
                    <a href="/welcome/events">
                    <div class="find-place-img_wrap">
                        <div class="grid">
                            <figure class="effect-ruby">
                                <img src="/assets/find-place1.jpg" class="img-fluid" alt="img13" style="
  opacity:0.5;
  background-color:#000" />
                                <figcaption>
                                    <h5 style="font-size:30px; font-weight:700;">Entertainment Party Wedding </h5>
                                    
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                <a href="/welcome/rest">
                <div class="col-md-4">
                    <div class="row find-img-align">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <img src="/assets/find-place2.jpg" class="img-fluid" alt="img13" />
                                        
                                        <figcaption>
                                            <h5 style="font-size:30px; font-weight:700;">Food Hotel Travel</h5>
                                            
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                    <a href="/welcome/grocery">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <img src="/assets/find-place3.jpg" class="img-fluid" alt="img13" style="
  opacity:0.5;
  background-color:#000" />
                                        <figcaption>
                                            <h5 style="font-size:30px; font-weight:700;">Grocery & Veg </h5>
                                            
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                </div>
                <a href="/welcome/health">
                <div class="col-md-4">
                    <div class="row find-img-align">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <img src="/assets/babycare.jpg" class="img-fluid" alt="img13" style="
  opacity:0.5;
  background-color:#000" />
                                        <figcaption>
                                            <h5 style="font-size:30px; font-weight:700;">Health Babycare & Beauty </h5>
                                            
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/welcome/gs">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <img src="/assets/education.jpg" class="img-fluid" alt="img13" style="
  opacity:0.5;
  background-color:#000" />
                                        <figcaption>
                                            <h5 style="font-size:30px; font-weight:700;">Education & Trg </h5>
                                            
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                            <div class="row">
                <div class="col-md-4">
                    <a href="/welcome/electronics">
                    <div class="find-place-img_wrap">
                        <div class="grid">
                            <figure class="effect-ruby">
                                <img src="/assets/find-place7.jpg" class="img-fluid" alt="img13" style="
  opacity:0.5;
  background-color:#000" />
                                <figcaption>
                                    <h5 style="font-size:30px; font-weight:700;">Mob Comp & Electronics </h5>
                                    
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                <a href="/welcome/fashion">
                <div class="col-md-4">
                    <div class="row find-img-align">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <img src="/assets/find-place6.jpg" class="img-fluid" alt="img13" style="
  opacity:0.5;
  background-color:#000" />
                                        
                                        <figcaption>
                                            <h5 style="font-size:30px; font-weight:700;">Fashion World</h5>
                                            
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                    <a href="/welcome/repair">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <img src="/assets/repair.jpg" class="img-fluid" alt="img13" style="
  opacity:0.5;
  background-color:#000" />
                                        <figcaption>
                                            <h5 style="font-size:30px; font-weight:700;">Home Service & Repair </h5>
                                            
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                </div>
                <a href="/welcome/sny">
                <div class="col-md-4">
                    <div class="row find-img-align">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <img src="/assets/favstore.jpg" class="img-fluid" alt="img13" style="
  opacity:0.5;
  background-color:#000" />
                                        <figcaption>
                                            <h5 style="font-size:30px; font-weight:700;">Fav Stores NearU </h5>
                                            
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/welcome/decor">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <img src="/assets/find-place5.jpg" class="img-fluid" alt="img13" style="
  opacity:0.5;
  background-color:#000" />
                                        <figcaption>
                                            <h5 style="font-size:30px; font-weight:700;">Furniture Kitchen Stores Home Decor </h5>
                                            
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
            </div>
        </div>
    </section>




<section class="main-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="styled-heading">
                        <h3>Click to sell or exchange your products</h3>
                        <% if current_user&.shop %>
  <%= link_to 'Manage Shop', current_user.shop, class: "btn btn-danger bokaro" %>
<% else %>
                        <a href="/shops/new" class="btn btn-danger">Add Shop</a>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </section>
<style>
  .bokaro {
    color: #fff;
  }
</style>

    <!-- jQuery, Bootstrap JS. -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    


    <script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>



    
</body>
<% end %>