

<h2>Your orders</h2>
<table class="table table-bordered">


<% if @items&.present? %>
<%@items&.each do |order|%>
	<tr>
	<td><%=order.product.name%></td>
	<td><%=order.product.price%></td>
	<td><%=order.product.shop.name%></td>
	<td><%=order.product.category%></td>
	<td><%=order.product.description%></td>
	<td><%=order.product.brand%></td>
	<td><%=order.product.ram%></td>
	<td><%=order.product.storage%></td>
	<td><%=order.product.offerprice%></td>

	</tr>
<%end%>
<%else%>

<%end%>
</table>

<p> </p>
<p> </p>
<p> </p>

<p> </p>



<h1>All conversations</h1>
<%@converstions.each do |converstion|%>
	<% if converstion.sender_id == current_user.id || converstion.recipient_id == current_user.id%>
	<% if converstion.sender_id == current_user.id%>
	<% recipient = User.find(converstion.recipient_id)%>
	<%else%>
	<% sender = User.find(converstion.sender_id)%>
	<%end%>
	<h3><%= link_to recipient&.email , converstion_messages_path(converstion)%></h3>
	<%end%>
	<%end%>

	<h1>All Shops</h1>

	<%@users.each do |user|%>
	 <% if user.id != current_user.id%>
	 <% if user.shop.present?%>
	 <h3><%= link_to user&.shop.name,converstions_path(sender_id: current_user.id, recipient_id: user.id), method: "post"%></h3>
	 <%end%>
	<%end%>
	<%end%>