<!DOCTYPE html>
<html>
  <head>
    <title>Nearnew</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="/assets/jquery.raty.js"></script>
    
    
    <% unless controller_name == "registeration_numbers" %>
    <% if mobile_device == "mobile" %>
    <style>
      body {
        background: #F9F9FA;
      }
    </style>
    <script src="/assets/jquery.raty.js"></script>
 <meta name="viewport" content="width=device-width, initial-scale=1">
<%= render 'welcome/sub' %>
<% end %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <% end %>
  </head>
<style>
      body {
        background: #F9F9FA;
      }
    </style>
  <body>
    <%= render 'layouts/header' %>
    <% if notice %>
  <p class="alert alert-success notice_wrapper"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger notice_wrapper"><%= alert %></p>
<% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  <style>
    .notice_wrapper {
      position: absolute;
      top:0;
      width: 100%;
      z-index: 999;
      background-color: rgba(135, 216, 211, 0.85);
    }
    .alert, .notice {
      padding: 2.5rem, 0;
      text-align: center;
      font-size: 1.75rem;
      font-weight: 700;
      color: #fff;
      letter-spacing: 1px;
    }
  </style>

      <script>
   $(function() {
    setTimeout(function(){
        $('.notice_wrapper').slideUp(600);
    }, 1800);
});
  </script>
  </body>
</html>
 

